<a href="https://colab.research.google.com/github/Envivi-git/starmind/blob/main/starmind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install python-Levenshtein

In [13]:
import pandas as pd
from Levenshtein import distance
import re

In [41]:
df = pd.read_csv("/content/20210103_hundenamen.csv")
df.head()

                      HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                         Ituma              2011               w
1      "Bo" Bendy of Treegarden              2020               m
2         "Bobby" Lord Sinclair              2009               m
3    "Buddy" Fortheringhay's J.              2011               m
4  "Fly" Showring i fly for you              2015               w

In [34]:
# We want to camper full name
# I don't want to use any pseudonim
# I also assume that we don't want to be case sensitive
# I also assume that full names are not in between "" or ()
# I do not remove accents and apostrophe. They are character that need to be transform

def cleanning(sentence):
  #remove words between ""
  pattern_1 = re.compile(r'"\s?\w+\s?"')
  #remove words between ()
  pattern_2 = re.compile(r'\(\s?\w+\s?\)')
  #remove words between - and .
  pattern_3 = re.compile(r'[-\.]')
  #remove 2 or more white spaces
  pattern_4= re.compile(r'\s\s+')


  sentence=pattern_1.sub("",sentence.lower())
  sentence=pattern_2.sub("",sentence)
  sentence=pattern_3.sub("",sentence)
  sentence=pattern_4.sub("",sentence)

  return sentence


df['new_name'] = df['HUNDENAME'].apply(cleanning)

In [36]:
#Function to calculate distance
def calc_lev_dist(hund_name):

  d=distance('luca',hund_name)

  return d

In [38]:
names= [name for name in df.new_name if calc_lev_dist(name)==1]

In [40]:
#unique names
set(names)

{'cuca',
 'lua',
 'luba',
 'lucas',
 'luce',
 'lucia',
 'lucy',
 'lula',
 'luma',
 'luna',
 'lupa',
 'yuca'}